<% provide :title, "Illusts" %>
<div class="main">
    <h1>イラスト</h1>
    <p><a href="/rakugaki">らくがき</a>もあります。眠いときにちゃちゃっと描いたものです。</p>
    <section>
        <div id="illustBox"></div>
    </section>
</div>
<%= javascript_include_tag "loadIllusts" %>
<%= stylesheet_link_tag "illusts" %>