<% provide :title, "illusts" %>
<div class="main">
    <h1>Illust(All)</h1>
    <section>
        <div id="illustBox"></div>
    </section>
</div>
<%= javascript_include_tag "loadIllusts" %>
<%= stylesheet_link_tag "illusts" %>