<% provide :title, "マニュアル(しろことくろこ)" %>
<div id="contents">
    <header>
        <img id="header_img" src="images/neko/etc/banner.png">
        <div id="header_blur"></div>
    </header>
    <article>
        <h2><a href="neko" class="back_to_game">←ゲームに戻る</a></h2>
        <h1>◆しろことくろこの塔登るやつ マニュアル</h1>
        <p><b>装備をとっかえひっかえしながら</b>未知の塔を探索するのを見守る<b>放置系ブラウザゲーム</b>です。</p>
        <img src="images/neko/etc/loading_splash.png" class="screenshot">


        <h1 id="update">更新履歴</h1>

        <h2>2018/3/10 v2.08</h2>
        <ul>
            <li>アイテムの強化ポップアップで提示されるパラメータが正しくない場合がある不具合を修正しました。</li>
        </ul>

        <h2>2018/3/09 v2.07</h2>
        <ul>
            <li>ブラウザのズーム機能を使って画面を縮小した際に、一部の倍率で非表示状態のポップアップがゲーム画面の外に飛び出し、不必要なスクロールバーを発生してしまう問題を修正しました。</li>
        </ul>

        <h2>2017/9/11 v2.06</h2>
        <ul>
            <li>第三次元でイガイガの色が背景と区別しにくい景色があったため、該当の景色表示時にはイガイガを少し明るく表示させるようにしました。</li>
        </ul>

        <h2>2017/6/18 v2.05</h2>
        <ul>
            <li>妖精郷の一部ボスの挙動をなるべくわかりやすく変更しました。</li>
        </ul>

        <h2>2017/6/18 v2.04</h2>
        <ul>
            <li>妖精郷の通常バトルでのコイン獲得量を上方修正しました。</li>
            <li>妖精郷の一部ボスの挙動を変更しました。</li>
            <li>しろことくろこをクリックしてジャンプさせ、滞空中に戦闘が発生し敗北すると表示が崩れる不具合を修正しました。</li>
        </ul>

        <h2>2017/6/17 v2.03</h2>
        <ul>
            <li>特定条件でボスの初回討伐ボーナスが複数回受け取れる不具合を修正しました。</li>
        </ul>

        <h2>2017/6/16 v2.02</h2>
        <ul>
            <li>ピリカちゃんを連打すると表示が崩れる不具合を修正しました。</li>
        </ul>

        <h2>2017/6/16 v2.01</h2>
        <ul>
            <li>ピリカショップに出現する武器の強さを調整しました。</li>
            <li>ピリカショップに初めて訪れた時、妖精の鱗粉をドバっともらえるようにしました。</li>
        </ul>

        <h2>2017/6/16 v2.00</h2>
        <ul>
            <li>最終次元クリア後に遊べるエクストラダンジョン・天嶺の妖精郷を追加しました。<a href="#extra_dungeon">詳細はこちら</a></li>
            <li>最終次元で階段イベントが起こる確率を少し引き上げました。</li>
            <li>アイテムを100個弱追加しました。</li>
        </ul>

        <h2>2017/5/31 v1.22</h2>
        <ul>
            <li>装備編集結果を破棄できない不具合を修正しました。</li>
        </ul>

        <h2>2017/5/24 v1.21</h2>
        <ul>
            <li>装備編集結果に「編集をすぐに反映」するボタンを追加しました。</li>
        </ul>

        <h2>2017/5/24 v1.20</h2>
        <ul>
            <li>戦闘時のアニメーションを描き直しました。</li>
            <li>ステータスの実績欄にアイテム収集率を追記しました。</li>
            <li>装備編集結果をポップアップで表示し、編集の取り消しができるようになりました。</li>
        </ul>

        <h2>2017/5/23 v1.19</h2>
        <ul>
            <li>メニューの「セーブ」から、セーブデータの読み込み・書き出しができるようになりました。</li>
        </ul>

        <h2>2017/5/17 v1.18</h2>
        <ul>
            <li>最終次元付近でのおみくじの抽選ロジックを変更しました。</li>
            <li>装備編集はウィンドウを閉じたタイミングで確定するようにしました。</li>
            <li>しろことくろこにレベル差が生じた際に、レベルの低い方にボーナス経験値を付与するようにしました。</li>
            <li>装備確定の瞬間/おみくじを引いた瞬間にもセーブを行うようにしました。</li>

        </ul>

        <h2>2017/5/15 v1.17</h2>
        <ul>
            <li>最終次元のゴールが分かりづらかったので少し見せ方を変えました。</li>
            <li>Internet Explorerでアクセスした際にエラーを明示するようにしました。</li>
        </ul>

        <h2>2017/5/15 v1.16</h2>
        <ul>
            <li>v1.15で修正した挙動をさらに変更しました。ある程度攻略が進んだあと、過去の次元に戻っておみくじを引いた際には、その次元で拾える古いアイテムを十分に使えるレベルまで強化したものを引けるようにしました。</li>
        </ul>

        <h2>2017/5/15 v1.15</h2>
        <ul>
            <li>ある程度攻略が進んだあと、初期の次元に戻っておみくじを引いた場合不正な強化値のアイテムを拾ってしまうことがある不具合を修正しました。</li>
        </ul>

        <h2>2017/5/14 v1.14</h2>
        <ul>
            <li>セーブデータの容量が限界に達してしまうことがある現象の対策を行いました。</li>
        </ul>

        <h2>2017/5/14 v1.13</h2>
        <ul>
            <li>(ネタバレに関わる部分の更新を行いました。)</li>
        </ul>

        <h2>2017/5/14 v1.12</h2>
        <ul>
            <li>次元層移動時に表示崩れが起きていたのを修正しました。</li>
            <li>アイテムを100個追加実装しました。(4つめの次元後半で高確率、それ以降でぼちぼち拾えます。)</li>
            <li>2～3個目の次元で拾える一部アイテムのパラメータを調整しました。<br>※値が尖りすぎていて使いにくいアイテムを少しだけ丸く調整したほか、2つ目の次元で発生する発生するDEX不足を緩和しました。<br>(現在装備中のパラメータも変更されてしまいます、申し訳ありません...)</li>
        </ul>

        <h2>2017/5/11 v1.11</h2>
        <ul>
            <li>不在時イベント再生をたまに忘れてしまう不具合を修正しました。(プログラム読み込み順が悪いと不在時イベントチェック前に最終ログイン時刻を更新してしまっていました...)</li>
        </ul>

        <h2>2017/5/10 v1.10</h2>
        <ul>
            <li>たまに不在時イベント再生時に戦闘が止まったり、不正なアイテムを拾ってしまうことがある不具合を修正しました。</li>
            <li>不在時イベントの処理時には全回復ボタンを押せなくしました。(イベント処理に割り込んで回復すると得をしてしまうため)</li>
        </ul>

        <h2>2017/5/10 v1.09</h2>
        <ul>
            <li>長い名前の装備に高い強化値がついた場合に表示が崩れることがある不具合を修正しました。</li>
        </ul>

        <h2>2017/5/9 v1.08</h2>
        <ul>
            <li>装備編集画面に、10ページ進む、10ページ戻るボタンを設置しました。</li>
        </ul>

        <h2>2017/5/9 v1.07</h2>
        <ul>
            <li>ソート順に攻撃力、守備力の上昇率順ソートを追加しました。</li>
            <li>ソート種別が多くなったため、ソート変更ボタンの挙動を変更しました。</li>
        </ul>

        <h2>2017/5/9 v1.06</h2>
        <ul>
            <li>ログエリアをほんの少し拡張し、Firefoxで起きている表示崩れを緩和しました。</li>
        </ul>

        <h2>2017/5/8 v1.05</h2>
        <a href="https://twitter.com/hashtag/%E3%81%97%E3%82%8D%E3%81%93%E3%81%A8%E3%81%8F%E3%82%8D%E3%81%93">#しろことくろこ</a>で頂けたUI系の修正をまとめて行いました。
        <ul>
            <li>一部ステージでイガイガヨケがプレイしづらかったため、ステージによってコントラストを調整するようにしました。</li>
            <li>おみくじボタンを連打した際に表示が乱れることがある不具合を修正しました。</li>
            <li>雑魚戦で戦闘で負けた際の表記を修正しました。</li>
            <li>プレイ時間が100時間を超えた場合、ステータス画面の総プレイ時間が正しく表示されない不具合を修正しました。</li>
            <li>10万コイン以上溜めた場合に起こる各所の表記崩れを修正しました。</li>
            <li>装備強化メニューにおいて、+10まで強化した場合にこれ以上強化できないことをわかりやすくしました。</li>
            <li>負荷軽減のため、イガイガヨケ中に階段イベントを引いた際には暗転処理を挟まなくしました。</li>
        </ul>

        <h2>2017/5/7 v1.04</h2>
        <ul>
            <li>ローディング画面をかわいいイラストにしました。</li>
        </ul>

        <h2>2017/5/6 v1.03</h2>
        <ul>
            <li>画面読み込み後最初の一回だけ無限にジャンプできてしまうバグを修正しました。</li>
        </ul>

        <h2>2017/5/5 v1.02</h2>
        <ul>
            <li>イガイガヨケのイガ出現パターンを調整し、理不尽なパターンを減らしました。</li>
            <li>負荷軽減のため、イガイガヨケ中はイベントアニメーション再生を行わなくしました。</li>
        </ul>

        <h2>2017/5/3 v1.01</h2>
        <ul>
            <li>イガイガヨケの報酬量を調整しました。</li>
            <li>マニュアルの文言を調整しました。</li>
        </ul>

        <h2>2017/5/2 v1.00</h2>
        <ul>
            <li>公開しました。</li>
        </ul>


        <h1>メイン画面</h1>
        <div class="panel">
            <div id="main_1" class="description">①</div>
            <div id="main_2" class="description">②</div>
            <div id="main_3" class="description">③</div>
            <div id="main_4" class="description">④</div>
            <div id="main_5" class="description">⑤</div>
            <img src="images/neko/manual/mainboard.png" class="screenshot">
        </div>
        <dl>
            <dt>①ステージ情報</dt><dd>現在階層について表示されます。</dd>
            <dt>②キャラデータ</dt><dd>しろことくろこの現在のHP、LVが表示されます。</dd>
            <dt>③ログ</dt><dd>直近イベントのログが表示されます。</dd>
            <dt>④メニュー</dt><dd>各種メニューを開いたり、回復ができます。</dd>
            <dt>⑤ミニゲーム</dt><dd>ミニゲーム「イガイガヨケ」が遊べます。遊ぶとコインが手に入ります。</dd>
        </dl>
        <h1>装備</h1>
        <div class="panel">
            <div id="equip_1" class="description">①</div>
            <div id="equip_2" class="description">②</div>
            <div id="equip_3" class="description">③</div>
            <div id="equip_4" class="description">④</div>
            <div id="equip_5" class="description">⑤</div>
            <div id="equip_6" class="description">⑥</div>
            <div id="equip_7" class="description">⑦</div>
            <div id="equip_8" class="description">⑧</div>
            <div id="equip_9" class="description">⑨</div>
            <div id="equip_10" class="description">⑩</div>
            <div id="equip_11" class="description">⑪</div>
            <img src="images/neko/manual/equip.png" class="screenshot">
        </div>
        <dl>
            <dt>①キャラ切替ボタン</dt><dd>装備を編集するキャラを切り替えます。</dd>
            <dt>②ページ切替ボタン</dt><dd>次のページ・前のページに移動します。</dd>
            <dt>③ソート変更ボタン</dt><dd>ソート順を変更します。</dd>
            <dt>④装備詳細エリア</dt><dd>現在調べている装備の詳細データが表示されます。</dd>
            <dt>⑤装備</dt><dd>クリックで装備を行います。</dd>
            <dt>⑥インデックス</dt><dd>STR:赤、DEX:緑、DEF:青、AGI:黄のバーで装備の強さを簡易表示します。</dd>
            <dt>⑦強化ボタン</dt><dd>装備強化メニューを展開します。+10以上には強化できません。</dd>
            <dt>⑧現在装備</dt><dd>現在の装備を表示します。クリックでその装備を外します。</dd>
            <dt>⑨総合パラメータ</dt><dd>現在のパラメータ合計と選択中装備のパラメータを表示します。</dd>
            <dt>⑩最終パラメータ</dt><dd>STR/DEXから計算した攻撃力、DEF/AGIから計算した守備力を表示します。</dd>
            <dt>⑪周辺の敵の攻撃力</dt><dd>現在の階層での敵の平均攻撃力を表示します。</dd>
        </dl>
        <h1>戦闘</h1>
        <img src="images/neko/manual/battle.png" class="screenshot">
        <p>敵に出会うと自動的に戦闘を行います。一撃でたくさんのダメージを与えると、次イベントまでの待ち時間が短縮されます。</p>
        <p>ダメージは原則的に「敵の攻撃力-各キャラの守備力」だけ受けます。守備力が上回った場合には、<b>最大HPの0.5%</b>程度のダメージを喰らいます。守備力が敵攻撃力の2倍以上に至るほどに圧倒している場合、さらにダメージを減衰させることができます。</p>
        <h1>おみくじ</h1>
        <img src="images/neko/manual/omikuji.png" class="screenshot">
        <p>コインを消費して、現在階層では手に入らない高ランク武器を高い強化値で手に入れられるおみくじです。</p>
        <p>通常武器は+10までしか強化できませんが、おみくじで引いた武器はそれ以上の強化値がつくことがあります。</p>
        <p>10時間ごとに無料で1回引けます。</p>
        <p>もし引いた武器がすでに持っており、強化値も小さいものだった場合50コインが返却されます。</p>
        <h1>小ネタ・仕様</h1>
        <p>ウィンドウを閉じても、再度ゲームを開いたときに不在時のイベント処理を一気に行います。<b>ただし戦闘ボーナスの時間短縮分は取りこぼします。</b>少しだけ効率が悪くなるので最速で潜りたい場合はウィンドウを開きっぱなしにする必要があります。</p>
        <p>ステータス画面で確認できる実績は１つクリアするごとに1秒イベント待ち時間を恒久的に短縮します。10個全部クリアでデフォルトの40秒から30秒まで短縮されるので、狙っていく価値はあります。</p>
        <p>イガイガヨケのプレイ中はキーボードのどこを押してもジャンプします。お好きなキーでプレイしてみてください。</p>
        <p>イガイガヨケは2段ジャンプができます。大きなイガはタイミングよくジャンプして高度を稼いでみましょう。</p>
        <p>イガイガヨケは2000点、3000点、4000点を境に大幅に報酬が良くなります。まずは安定して2000点を目指しましょう。4000点はイガイガ運に大きく左右されます。</p>
        <h1 id="extra_dungeon">追加ダンジョン・天嶺の妖精郷について</h1>
        <img src="images/neko/bg/st5.png" class="screenshot">
        <p>天嶺の妖精郷は、最終次元を最後まで登りきったあとに追加される追加ダンジョンです。塔のはずれに見つけた妖精の郷で、現地の妖精たち<s>を伸して制圧</s>と仲良くなりましょう。</p>
        <p>妖精郷では鍛冶妖精のピリカちゃんがついてきてお店を開いてくれます。探索中に出会った野良妖精から分けてもらった信用通貨「妖精の鱗粉」を使って、クラフトした自慢のアイテムをしろこたちに売ってくれます。攻略に活用しましょう。</p>
        <p>100Fごとに、これまでとは比べ物にならないほど強力な名有りの妖精が待ち構えています。しろこたちの装備のパラメータバランスにケチを付けてきたり、装備に読めない文字があると癇癪を起こしたりする妖精たちをうまくなだめて切り抜けましょう。</p>
        <h2>妖精郷のしおり(細かい攻略メモ)</h2>
        <p>全体的に敵のランクが高くなっています。3ターン以内の撃破は不可能と思ったほうが懸命です。</p>
        <p>妖精郷は1フロアが広大なため、階段を発見する確率が通常よりもかなり低くなっています。</p>
        <p>ピリカショップ実装に伴い、おみくじ武器はあまり良いものが出なくなります。</p>
        <p>妖精郷でイガイガするとほんの少しだけ粉を取得できます。端数調整にどうぞ。</p>
        <p>ピリカショップの商品入れ替えは日付更新と同時に行われます。在庫切り替え回数もそこで回復します。</p>
    </article>

</div>

<%= stylesheet_link_tag "nekomanual" %>