- provide :title, "Illusts"
.main
  h1
    | らくがき
  p
    | ちゃんとした絵は 
    a[href="/illusts"]
      | イラスト
    | を見てね。
  section
    #illustBox
      - (1..@image_count).to_a.reverse.each do |n|
        |  <a href="/images/rakugaki/
        = n
        | .png"><div class="thumb" style="background-image: url('/images/rakugaki/
        = n
        | .png');"></div>
= stylesheet_link_tag "illusts"
