<% provide :title, "Illusts" %>
<div class="main">
    <h1>らくがき</h1>
    <p>ちゃんとした絵は <a href="/illusts">イラスト</a>を見てね。</p>
    <section>
        <div id="illustBox"></div>
    </section>
</div>
<%= javascript_include_tag "loadIllusts_rakugaki" %>
<%= stylesheet_link_tag "illusts" %>