<% provide :title, "Illusts" %>
<div class="main">
    <h1>らくがき</h1>
    <p>ちゃんとした絵は <a href="/illusts">イラスト</a>を見てね。</p>
    <section>
        <div id="illustBox">
            <% (1..@image_count).to_a.reverse.each do |n| %>
                <a href="/images/rakugaki/<%= n %>.png"><div class="thumb" style="background-image: url('/images/rakugaki/<%= n %>.png');"></div></a>
            <% end %>
        </div>
    </section>
</div>
<%= stylesheet_link_tag "illusts" %>