<% provide :title, "寒すぎて%sになった" %>

<h1>寒すぎて%sになった</h1>

<p id="samusugi">寒すぎて%sになった</p>

<button id="control" class="btn">止める</button>
<button id="tweet" class="btn">つぶやく</button>

<hr>
<p>iPhone用コピペエリア</p>
<p>(つぶやくボタンがうまく効かない人用　コピーボタンを押して手動でツイートしてね)</p>
<textarea name="" id="copypastearea" cols="45" rows="3">(止めるボタンを押してね)</textarea>

<button id="copy" class="btn">コピー</button>
<div id="copied" class="hidden">クリップボードにコピーしました...！</div>

<p>
制作：<a href="top">さーたはうす</a>
</p>

<span id="shadowcopypastearea"></span>

<script>//iOSのコピペ用コード
 var button = document.getElementById('copy');
 button.addEventListener('click', function(){
    var copyarea = document.getElementById('shadowcopypastearea')
    var range = document.createRange();
    range.selectNode(copyarea);
    window.getSelection().addRange(range);
    document.execCommand('copy')
    showCopiedTicker()
});
</script>

<%= javascript_include_tag "samusugi" %>
<%= stylesheet_link_tag "samusugi" %>