<% provide :title, "そげきねこ" %>


<div id="mainContents">
    <img src="images/snipon/title.png" id="title">
    <div id="gameContainer"></div>
    <div id="addComment">
        <span>物申すエリア(開発者にコメントを届けられます)</span>
        <textarea name="" id="userName" cols="10" rows="1">お名前</textarea>
        <textarea name="" id="comment" cols="80" rows="1">なんでも気づいたことを書いてね</textarea>
        <span id="send">送信</span>
    </div>
    <h2>
        簡易マニュアル
    </h2>
    <ul>
        <li>精密射撃をするゲームです。マウスで狙って左クリックで打てます。</li>
        <li>スペースを押している間は拡大して狙えます。</li>
        <li>いまのところは精度や時間で評価されず、とりあえずクリアを目指すゲームになっています。安心して撃ちまくりましょう。</li>
        <li>タイトル画像はナナイちゃんですが、仮です。二次創作要素はありません。</li>
    </ul>

</div>

<%= stylesheet_link_tag "snipon" %>
<%= javascript_include_tag "UnityLoader.js" %>
<%= javascript_include_tag "jquery-1.9.1.min.js" %>
<%= javascript_include_tag "neko2" %>
<script>
$(function () {
	var gameInstance = UnityLoader.instantiate("gameContainer", "game/snipon/Build.json");
})
</script>
