<% provide :title, "Works" %>
<div class="main">
    <h1>Works(詳細)</h1>

    <section>
        <div class="section_contents">
            <h2>しろことくろこの塔登るやつ<br><a href="neko">遊ぶ</a></h2>
            <img class="title_image" src="images/screenshot/neko/title.png">
            <p>
                装備をとっかえひっかえしながら謎の塔を上り詰めていくのを見守るゲームです。<br>
                ブラウザ通知機能を使って時報になったり、暇つぶし兼ゲーム内通貨稼ぎのミニゲームを用意したりしました。作業のお供にどうぞ。
            </p>
            <div class="screenshot_box">
                <p>スクリーンショット</p>
                <img class="screenshot" src="images/screenshot/neko/1.png">
                <img class="screenshot" src="images/screenshot/neko/2.png">
                <img class="screenshot" src="images/screenshot/neko/3.png">
                <img class="screenshot" src="images/screenshot/neko/4.png">
                <img class="screenshot" src="images/screenshot/neko/5.png">
            </div>
        </div>
    </section>

    <section>
		<div class="section_contents">
			<h2>盗賊ちゃんクリッカー<br><a href="touzoku">遊ぶ</a></h2>
			<img class="title_image" src="images/screenshot/touzoku/title.png">
			<p>
				お使いのブラウザですぐ遊べる、おまんじゅうを生産し、拡大再生産するゲームです。元ネタは<a href="http://cafe-capy.net/cookieclicker/">クッキークリッカー</a>です。<br>
				<a href="https://www.youtube.com/watch?v=vMWEOxD0rrg&index=37&list=PLsHA74V3bmZ5H7GtXoqW1eenDdHTJoB65">弱酸性ミリオンアーサー 5話</a>に感銘を受けて作りました。たくさんおまんじゅうを貯めると新しいキャラが雇えるようになり、だんだんと工場が賑やかになっていきます。<br>
				「キャラクターのレベルを一定まで上げる」「クリックして100個以上のおまんじゅうを作る」などの実績があり、クリア数に応じてさらにおまんじゅうを作るペースに倍率がかかります。<br>
				全キャラ開放したあとの賑やかな工場は見ているだけで楽しいはずなので、ぜひ頑張ってプレイしてみてください。
			</p>
			<div class="screenshot_box">
				<p>スクリーンショット</p>
				<img class="screenshot" src="images/screenshot/touzoku/1.png">
				<img class="screenshot" src="images/screenshot/touzoku/2.png">
				<img class="screenshot" src="images/screenshot/touzoku/3.png">
				<img class="screenshot" src="images/screenshot/touzoku/4.png">
			</div>
		</div>
	</section>

	<section>
		<div class="section_contents">
			<h2>PHPの真偽判定(<a href="http://www.x68uec.org/">X680x0同好会</a> - <a href="http://www.x68uec.org/index.cgi?page=1day2014sum">1日ゲー</a>)
				<br><a href="game/php_true_false.zip">ダウンロード(zip形式)</a>
			</h2>
			<img class="title_image" src="images/screenshot/php/title.jpg">
			<p>次々と出題される式を評価した場合の真偽値を答えるゲームです。==での評価がややこしいことを伝えるために作りました。効果音とアニメーションの同期に気を使っています。<br>ローカルのセーブファイルにハイスコアを記録します。ゲーム展示に出すとやりこんでくれるので出しがいのあるゲームでした。</p>
			<div class="screenshot_box">
				<p>スクリーンショット</p>
				<img class="screenshot" src="images/screenshot/php/1.jpg">
				<img class="screenshot" src="images/screenshot/php/2.jpg">
				<img class="screenshot" src="images/screenshot/php/3.jpg">
				<img class="screenshot" src="images/screenshot/php/4.jpg">
			</div>
		</div>
	</section>

	<section>
		<div class="section_contents">
			<h2>ようせいのラインストラテジー!(<a href="http://reitaisai.com/rts11/">博麗神社例大祭11</a>)<br>
				<a href="game/faily_line_strategy.zip">無料公開しました! ダウンロード(zip形式)</a>
			</h2>
			<img class="title_image" src="images/screenshot/jyls2/title.png">
			<p>妖精を召喚して戦う、面クリア方式のラインストラテジーゲームです。例大祭11で頒布しました。各ステージクリアごとに通貨である飴が付与され、その飴を使って新しい種類のキャラクターを開放したり強化したりできます。ソーシャルゲーム特有のエフェクトバリバリなイラストに惚れていた時の作品で、スペルカードのカットインにそれがよく現れています。スペルカードの効果を意識的に強く設定することで、強い敵が出たタイミングでじゃんじゃか使ってカットインを連続で出して気持ちよくなってもらうことを狙っています。</p>
			<div class="screenshot_box">
				<p>スクリーンショット</p>
				<img class="screenshot" src="images/screenshot/jyls2/1.png">
				<img class="screenshot" src="images/screenshot/jyls2/2.png">
				<img class="screenshot" src="images/screenshot/jyls2/3.png">
			</div>
		</div>
	</section>

	<section>
		<div class="section_contents">
			<h2>長いゲーム(<a href="http://www.x68uec.org/">X680x0同好会</a> - <a href="http://www.x68uec.org/index.cgi?page=1day2014sp">1日ゲー</a>)<br>
				<a href="game/nagai_game.zip">ダウンロード(zip形式)</a>
			</h2>
			<img class="title_image" src="images/screenshot/nagai/title.jpg">
			<p>10分もあれば攻略できる、ミニゲームです。変なウィンドウサイズのゲームが作りたかったので、横に長いゲームにしました。召喚パワーを消費してしもべを召喚し、制限時間内に世界を滅ぼすクリスタルを破壊するゲームです。召喚パワーは時間で回復するほか、中ボスを倒すことでたくさん手に入ります。敵の強さやしもべの足の速さを考慮しつつ、何を召喚するか考えないと時間に間に合わないバランスになっています。ミニゲームらしく、readmeを読まずともプレイできるよう簡単な説明がゲーム開始時に行われます。</p>
			<div class="screenshot_box">
				<p>スクリーンショット</p>
				<img class="screenshot" src="images/screenshot/nagai/1.jpg">
				<img class="screenshot" src="images/screenshot/nagai/2.jpg">
				<img class="screenshot" src="images/screenshot/nagai/3.jpg">
			</div>
		</div>
	</section>

	<section>
		<div class="section_contents">
			<h2>うにを食べるゲーム(<a href="http://www.chofusai.uec.ac.jp/">調布祭</a>2013)<br>
				<a href="game/eat_uni.zip">ダウンロード(zip形式)</a>
			</h2>
			<img class="title_image" src="images/screenshot/eat_uni/title.jpg">
			<p>次々と出される料理から、うにを選んで食べるミニゲームです。規定の皿数食べるとクリアです。アニメーション部分に拘ったため、ゲーム自体はわりと単調です。</p>
			<div class="screenshot_box">
				<p>スクリーンショット</p>
				<img class="screenshot" src="images/screenshot/eat_uni/1.jpg">
				<img class="screenshot" src="images/screenshot/eat_uni/2.jpg">
				<img class="screenshot" src="images/screenshot/eat_uni/3.jpg">
			</div>
		</div>
	</section>

	<section>
		<div class="section_contents">
			<h2>チルノちゃんの大戦争EX前夜(<a href="http://www.comiket.co.jp/info-a/C84/C84info.html">C84</a>)<br>
				<a href="game/chirno_ex_zenya.zip">無料公開しました! ダウンロード(zip形式)</a>
			</h2>
			<img class="title_image" src="images/screenshot/jyls/title.png">
			<p>面クリア方式の、オーソドックスな縦STGです。C84で頒布しました。クリア状況はセーブファイルに書き込むので安心です。敵の落とす点符を100枚集めるとエクステンドします。エクステンド時には6秒ほどの長い完全無敵が付与されるので、非常に強力です。残機が少ない状態だと点符が少しずつ増えるため、ギリギリになっても頑張って避けていれば反撃のチャンスがやってくるようにしています。</p>
			<div class="screenshot_box">
				<p>スクリーンショット</p>
				<img class="screenshot" src="images/screenshot/jyls/1.png">
				<img class="screenshot" src="images/screenshot/jyls/2.png">
				<img class="screenshot" src="images/screenshot/jyls/3.png">
				<img class="screenshot" src="images/screenshot/jyls/4.png">
				<img class="screenshot" src="images/screenshot/jyls/5.png">
				<img class="screenshot" src="images/screenshot/jyls/6.png">
			</div>
		</div>
	</section>

	<section>
		<div class="section_contents">
			<h2>うにを避けるゲーム<br>
				<a href="game/dodge_uni.zip">ダウンロード(zip形式)</a>
			</h2>
		</h2>
		<img class="title_image" src="images/screenshot/uni/title.png">
		<p>一定時間うにを避けるゲームです。スペースキーを押している間は時間の進みが遅くなるため、ここぞという時に使います。実はバグなのですが、スペースキーを離したタイミングで一瞬だけ異常にフレームレートが上がってしまいます。ほぼ確実に被弾してしまうのですが、強力な時間操作に対するペナルティとして有効なので、放置しています。</p>
		<div class="screenshot_box">
			<p>スクリーンショット</p>
			<img class="screenshot" src="images/screenshot/uni/1.png">
			<img class="screenshot" src="images/screenshot/uni/2.png">
			<img class="screenshot" src="images/screenshot/uni/3.png">
		</div>
    </section>
</div>

<%= stylesheet_link_tag "works" %>