// arrow の 共通定数をまとめるところ

$field-width: 600px;
$field-height: 600px;
$ball-size: 30px;
$pointer-size: 30px;

$main-font-size: 60px;

$main-color: #123123;
$light-gray: #ededf5;

$ball-color: #0d0d0d;

$accent-color: #ff7332;

$blight: #87c3e1;