$note_width: 180px;
$note_height: 30px;
$note_count: 16;

$primary_color: #91a1d7;
$primary_shadow_color: #563eab;
$negative_color: #df675a;
$negative_shadow_color: #942f45;
$accent_color: #bce7c7;
$accent_shadow_color: #a0fbd4;
$black: #2a2c28;
$white: #f4f5ec;
$gray: #babbbe;
$background_light_gray: rgba(86, 120, 122, 0.33);

$transparent_normal: 0.8;
$transparent_pale: 0.4;

$title_font_size: 40px;
