// Place all the styles related to the colortile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$panel_size: 40px;
$row: 15;
$column: 10;

h1{
    font-size: 16px;
}

body{
    background: no-repeat url("../images/illust_all/136.png");
    background-size: 300px;
    background-position: bottom 0px right 0px;
}

.board{
    display: flex;
    flex-direction: column;
    width: $panel_size * $row;
    height: $panel_size * $column;
    margin: 0 auto;
    .row{
        display: flex;
        flex-direction: row;
        height: $panel_size;
        .panel{
            width: $panel_size;
            height: $panel_size;
            border: 1px solid #fcfcff;
            .block{
                margin: 2px;
                border: 1px solid #fffbd5;
                border-radius: 3px;
                width: $panel_size - 4px;
                height: $panel_size - 4px;
            }
        }
        .panel:hover{
            filter:brightness(110%);
        }
    }
}

.hidden{
    visibility: hidden;
}