// Place all the styles related to the colortile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$panel_size: 40px;
$row: 25;
$column: 15;

h1{
    font-size: 16px;
}

body{
    background: no-repeat url("../images/illust_all/136.png");
    background-size: 300px;
    background-position: bottom 0px right 0px;
}


.game_screen{
    width: $panel_size * $row;
    margin: 0 auto;
}

// z-index: 10 - 99
.board{
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: $panel_size * $row;
    height: $panel_size * $column;
    .row{
        display: flex;
        flex-direction: row;
        height: $panel_size;
        .panel{
            width: $panel_size;
            height: $panel_size;
            border: 1px solid #f3f3ff;
            .block{
                margin: 1px;
                border: 1px solid #fffbd5;
                border-radius: 3px;
                width: $panel_size - 4px;
                height: $panel_size - 4px;
            }
        }
        .panel:hover{
            background-color: rgb(214, 255, 255);
            filter:brightness(110%);
        }
    }
}

// z-index: 1000 - 9999
.start{
    background-color: white;
    position: absolute;
    width: ($panel_size+2) * $row;
    height: ($panel_size+2) * $column;
    z-index: 1000;
}

.hidden{
    visibility: hidden;
}

.removed{
    display: none;
}

.color_sample1 { background: linear-gradient(to bottom, #81aed3 0%,#2d3fe0 53%,#1964d4 57%,#a2a1ec 100%);}
.color_sample2 { background: linear-gradient(to bottom, #f8e6fa 0%,#fbbeff 53%,#f09ef0 57%,#e9c1d8 100%);}
.color_sample3 { background: linear-gradient(to bottom, #ffbb83 0%,#ffb443 53%,#ff9822 57%,#fa936b 100%);}
.color_sample4 { background: linear-gradient(to bottom, #ffe44b 0%,#fcff33 53%,#eccd3f 57%,#ebd097 100%);}
.color_sample5 { background: linear-gradient(to bottom, #5ac068 0%,#3dc54f 53%,#1fd33d 57%,#c8e9d7 100%);}
.color_sample6 { background: linear-gradient(to bottom, #a996f5 0%,#8e6de9 53%,#9a5bec 57%,#be8cd6 100%);}
.color_sample7 { background: linear-gradient(to bottom, #a4fff7 0%,#7abaeb 53%,#7fabfc 57%,#97aed8 100%);}
.color_sample8 { background: linear-gradient(to bottom, #f55b7f 0%,#ff636b 53%,#ff4a90 57%,#e4c6d1 100%);}
.color_sample9 { background: linear-gradient(to bottom, #d0ee6e 0%,#c5e222 53%,#82e215 57%,#d3ee96 100%);}
.color_sample10{ background: linear-gradient(to bottom, #8b6e5f 0%,#a36e3c 53%,#d37843 57%,#ebd48c 100%);}
.color_sample11{ background: linear-gradient(to bottom, #615f64 0%,#737683 53%,#7a7f88 57%,#4f5153 100%);}
.color_sample12{ background: linear-gradient(to bottom, #d2e8f0 0%,#cee6f0 53%,#c2c9d3 57%,#c1c7c7 100%);}

// z-index: 100 - 999
.ui{
    position: absolute;
    width: $panel_size * $row;
    height: $panel_size * $column;
    pointer-events: none;
    .time_base{
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: #123123;
        width: 300px;
        height: 2px;
        z-index: 200;
    }
    .time{
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: #92e274;
        width: 300px;
        height: 2px;
        z-index: 201;
    }
    .score{
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 200;
    }
}

// z-index: 10000 - 99999
.end{
    background-color: white;
    opacity: 0.8;
    position: absolute;
    width: ($panel_size+2) * $row;
    height: $panel_size * $column;
    z-index: 10001;
    .final_score{
        position: absolute;
        top: 100px;
        left: 50px;
        width: 300px;
        height: 60px;
        font-size: 60px;
        color: #92e274;
    }
    .button{
        text-align: center;
        font-size: 30px;
        border-radius: 4px;
    }
    .restart{
        position: absolute;
        bottom: 50px;
        left: 50px;
        background-color: #92e274;
        width: 200px;
        height: 50px;
    }
    .back_to_title{
        background-color: #92e274;
        position: absolute;
        bottom: 50px;
        right: 50px;
        width: 200px;
        height: 50px;
    }
}