// Place all the styles related to the colortile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
    font-size: 16px;
}

.board{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    .row{
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        .panel{
            flex-grow: 1;
            border: 1px solid #2826ac;
        }
        .panel:hover{
            background-color: #e6fbff;
        }
        .filled{
            background-color: aquamarine;
        }
    }
}