#main_1{
	top: 5px;
	left: 5px;
	width: 695px;
	height: 75px;
}
#main_2{
	top: 95px;
	left: 5px;
	width: 308px;
	height: 71px;
}
#main_3{
	top: 180px;
	left: 5px;
	width: 308px;
	height: 263px;
}
#main_4{
	top: 5px;
	left: 715px;
	width: 165px;
	height: 440px;
}
#main_5{
	top: 455px;
	left: 5px;
	width: 875px;
	height: 125px;
}

#equip_1{
	top: 98px;
	left: 193px;
	width: 112px;
	height: 58px;
}
#equip_2{
	top: 50px;
	left: 445px;
	width: 95px;
	height: 50px;
}
#equip_3{
	top: 50px;
	left: 555px;
	width: 125px;
	height: 50px;
}
#equip_4{
	top: 108px;
	left: 685px;
	width: 142px;
	height: 240px;
}
#equip_5{
	top: 168px;
	left: 305px;
	width: 362px;
	height: 40px;
}
#equip_6{
	top: 240px;
	left: 575px;
	width: 55px;
	height: 40px;
}
#equip_7{
	top: 295px;
	left: 615px;
	width: 55px;
	height: 40px;
}
#equip_8{
	top: 385px;
	left: 315px;
	width: 228px;
	height: 40px;
}
#equip_9{
	top: 385px;
	left: 555px;
	width: 158px;
	height: 140px;
}
#equip_10{
	top: 385px;
	left: 745px;
	width: 50px;
	height: 125px;
}
#equip_11{
	top: 525px;
	left: 735px;
	width: 108px;
	height: 40px;
}
