
#sprite_battle_enemy3{
    width: 170px;
    height: 306px;
    left: 125px;
    top: 114px;
}
#sprite_battle_enemy2{
    width: 176px;
    height: 311px;
    left:  64px;
    top: 134px;
}
#sprite_battle_enemy1{
    width: 175px;
    height: 311px;
    left: 7px;
    top: 153px;
}
#sprite_battle_kuro{
    width: 258px;
    height: 278px;
    left: 253px;    
    top: 163px;
}
#sprite_battle_siro{
    width: 270px;
    height: 358px;
    left: 429px;
    top: 92px;
}
#sprite_battle_text{
    width: 329px;
    height: 70px;
    left: 190px;
    top: 20px;
}

#sprite_boss_battle_boss{
    width: 568px;
    height: 460px;
    left: 120px;
    top: 5px;
}
#sprite_boss_battle_siro{
    width: 304px;
    height: 251px;
    left: 40px;
    top: 220px;
}
#sprite_boss_battle_kuro{
    width: 353px;
    height: 245px;
    left: 331px;
    top: 239px;
}

#sprite_item_kuro{
    width: 286px;
    height: 307px;
    left: 418px;
    top: 137px;
}
#sprite_item_siro{
    width: 289px;
    height: 371px;
    left: 2px;
    top: 71px;
}
#sprite_item_treasure{
    width: 259px;
    height: 392px;
    left: 213px;
    top: 63px;
}
#sprite_item_text{
    width: 353px;
    height: 68px;
    top: 20px;
    left: 170px;
}

#sprite_resurrect_siro_dead{
    width: 322px;
    height: 215px;
    left: 312px;
    top: 226px;
}
#sprite_resurrect_siro_alive{
    width: 238px;
    height: 357px;
    left: 385px;
    top: 80px;
}
#sprite_resurrect_kuro_dead{
    width: 278px;
    height: 193px;
    left: 71px;
    top: 253px;
}
#sprite_resurrect_kuro_alive{
    width: 223px;
    height: 294px;
    left: 90px;
    top: 140px;
}
#sprite_resurrect_light{
    width: 550px;
    height: 464px;
    left: 75px;
    top: 0px;    
}
#sprite_resurrect_text{
    width: 226px;
    height: 86px;
    top: 20px;
    left: 230px;
}

#sprite_stairs_siro{
    width: 217px;
    height: 367px;
    left: 153px;
    top: 89px;
}
#sprite_stairs_kuro{
    width: 218px;
    height: 262px;
    left: 25px;
    top: 170px;
}
#sprite_stairs_text{
    width: 359px;
    height: 72px;
    top: 20px;
    left: 180px;
}



/******************/
/*ガチャのやつ*/
/*他と表示シチュが違うので注意*/
/*おみくじメニューのみで表示*/
/******************/
#gacha_sprite{
    position: relative;
    top: 150px;
    left: 70px;
    width: 700px;
    overflow: hidden;
}

#sprite_gacha_siro{
    width: 206px;
    height: 301px;
    top: 150px;
    left: 50px;
}
#sprite_gacha_siro_daki{
    width: 221px;
    height: 312px;
    top: 150px;
    left: 50px;
}
#sprite_gacha_kuro{
    width: 189px;
    height: 256px;
    top: 190px;
    left: 460px;
}
#sprite_gacha_kuro_daki{
    width: 193px;
    height: 244px;
    top: 190px;
    left: 460px;
}
#sprite_gacha_mikuji{
    width: 144px;
    height: 306px;
    top: 20px;
    left: 270px;
}
.sprite_gacha_mikuji_stick{
    width: 35px;
    height: 180px;
    top: 100px;
    left: 300px;
}
#gacha_result_fade{
    opacity: 0;
    width: 700px;
    height: 467px;
    top: 0px;
    left: 0px;
    background-color: #FFFAEE;
}
#gacha_result_background{
    position: absolute;
    top: -200px;
    left: -350px;
    mix-blend-mode: multiply;
    transform: scale(2);
}

.rotate_bg{
    animation: kurukuru 20s linear infinite;
}
@keyframes kurukuru{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}



/*バトル勝利・敗北*/

#sprite_battle_win_background{
    width: 700px;
    height: 467px;
    top: 0px;
    left: 0px;    
}
#sprite_battle_win_star{
    width: 700px;
    height: 467px;
    top: 0px;
    left: 0px;    
}
#sprite_battle_win_kuro{
    width: 351px;
    height: 291px;
    top: 180px;
    left: 10px;    
}
#sprite_battle_win_siro{
    width: 377px;
    height: 438px;
    top: 40px;
    left: 340px;    
}
#sprite_battle_win_filter{
    mix-blend-mode: overlay;
    width: 700px;
    height: 467px;
    top: 0px;
    left: 0px;    
}
#sprite_battle_win_text{
    width: 482px;
    height: 196px;
    top: 10px;
    left: 100px;    
}

#sprite_battle_lose_background{
    width: 700px;
    height: 467px;
    top: 0px;
    left: 0px;    
}
#sprite_battle_lose_kuro{
    width: 333px;
    height: 285px;
    top: 210px;
    left: 30px;    
}
#sprite_battle_lose_siro{
    width: 340px;
    height: 420px;
    top: 60px;
    left: 340px;    
}
#sprite_battle_lose_text{
    width: 351px;
    height: 185px;
    top: 40px;
    left: 160px;    
}
#sprite_battle_lose_filter{
    mix-blend-mode: color-burn;
    width: 700px;
    height: 467px;
    top: 0px;
    left: 0px;    
}

/*妖精戦*/
#sprite_faily_battle_background{
    width: 700px;
    height: 467px;
    top: 0px;
    left: 0px;        
}
.sprite_faily_battle_faily{
    width: 720px;
    height: 600px;
    top: 0px;
    left: 60px;    
}
#sprite_faily_battle_text{
    width: 181px;
    height: 43px;
    top: 20px;
    left: 30px;        
}
#sprite_faily_battle_screen{
    mix-blend-mode: screen;
    width: 700px;
    height: 467px;
    top: 0px;
    left: 0px;        
}


#sprite_faily_battle_mark_window{
    position: absolute;
    mix-blend-mode: multiply;    
    width: 410px;
    height: 150px;
    top: 300px;
    left: 20px;
    border-radius: 4px 4px;
    box-shadow: 0px 0px 6px 3px #15233a;
    background-color: #15233a;
}
#sprite_faily_battle_mark_blur{
    mix-blend-mode: multiply;    
    width: 450px;
    height: 150px;
    top: 300px;
    left: 20px;        
}
#sprite_faily_battle_mark{
    mix-blend-mode: screen;    
    width: 450px;
    height: 150px;
    top: 300px;
    left: 20px;        
}

/*粉*/
#sprite_powder_background{
    width: 700px;
    height: 467px;
    top: 0px;
    left: 0px;        
}

#sprite_powder_faily{
    width: 378px;
    height: 401px;
    top: 10px;
    left: 300px;        
}

#sprite_powder_kuro_hand{
    width: 174px;
    height: 179px;
    top: 330px;
    left: 200px;        
}

#sprite_powder_kuro{
    width: 250px;
    height: 223px;
    top: 260px;
    left: 20px;        
}

#sprite_powder_dish{
    width: 138px;
    height: 109px;
    top: 310px;
    left: 275px;        
}

#sprite_powder_feather{
    width: 330px;
    height: 319px;
    top: 10px;
    left: 120px;        
}

#sprite_powder_powder{
    width: 174px;
    height: 153px;
    top: 280px;
    left: 250px;        
}

#sprite_powder_light{
    mix-blend-mode: screen;
    width: 374px;
    height: 341px;
    top: 100px;
    left: 160px;        
}

#sprite_powder_text{
    width: 401px;
    height: 95px;
    top: 10px;
    left: 10px;        
}

