
/*????top??????*/
body{
	color:#4b5a71;
	font-size: 16px;
}
li{
	list-style: none;
}

#top_banner{
	width: 100%;
	font-size: 0px;
}

#atmark{
	width: 1em;
}

#nav_menu{
	width: 100%;
	height: 34px;
	display: flex;
}

a{
	color: #478fff;
}

a:hover{
	text-decoration: underline;
}

a:visited{
	color: #bfc0ff;
}


.menu_item{
	display: block;
	width: 100%;
	height: 32px;
	font-size: 20px;
	color: #FFFFFF;
	background-color: #6b7a91;
	margin-left: 1px;
	padding-left: 10px;
}
.menu_item:visited{
	color:#FFFFFF;
}

.menu_item:hover{
	opacity: 0.6;
}

.here{
	background-color: #ffe4a3;
}

h1{
	font-size: 30px;
	border-left: 0.7em solid #ffe4a3;
	padding-left: 0.3em;
	margin-bottom: 10px;
}

h2{
	font-size: 1.5em;
	padding-left: 0.3em;
}

h2:before{
	font-weight: bold;
}

p{
	margin-bottom: 20px;
	padding-left: 20px;
	width: 95%;
}
.illust_thumbnail{
	width: 380px;
	border:1px solid transparent;
}

.illust_thumbnail:hover{
	filter: brightness(110%) blur(1px);
	border:1px solid #d8e7ff;
}

.big_illust{
	width: 90%;
}

.flex_dl{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.flex_item{
	width: 100%;
	margin : 5px;
}

.flex_dt{
	display: inline-block;
	width: 25%;
}
.flex_dd{
	display: inline-block;
	width: 70%;
}

#top_image_gallery{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.em_link{
	font-size: 1.5em;
}

.em_link:hover{
	opacity: 0.5;
}

.bigger{
	font-size: 25px;
}
