
$main-color: #4b4f61;
$gray1: #dad9f3;
$sub-color: #9dbcf7;
$accent-color: #50fff6;
$link-color: #5e3aff;
$link-color-visited: #8229b6;

$content-min-width: 600px;
$content-max-width: 1200px;
$infinity: 100000px;

$padding_wide: 50px;
$padding_normal: 20px;
$padding_thin: 10px;

.main{
  min-width: $content-min-width;
  max-width: $content-max-width;
  width: 100%;
  margin: 0px auto;
  border-left: 1px solid $main-color;
  border-right: 1px solid $main-color;
  padding-left: $padding_normal;
  padding-right: $padding_normal;
}

/* top */
body{
  color: $main_color;
  font-size: 16px;
}
li{
  list-style: none;
}

#top_banner{
  min-width: $content-min-width;
  max-width: $infinity;
  width: 100%;
  height: 192px;
  font-size: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background: linear-gradient(to bottom, white 80%, $gray1);
  .right_siroko, .left_siroko{
    max-width: 192px;
    min-width: 0;
    width: 20%;
    height: auto;
  }
  .top_banner_text{
    max-width: 600px;
    min-width: 0;
    width: 60%;
    height: auto;
  }
}

.atmark{
  width: 1em;
}

#nav_menu{
  min-width: $content-min-width;
  max-width: $infinity;
  width: 100%;
  height: $padding_wide;
  display: flex;
}

a{
  color: $link-color;
}

a:hover{
  text-decoration: underline;
}

a:visited{
  color: $link-color-visited;
}


.menu_item{
  display: block;
  width: 100%;
  height: 32px;
  font-size: 20px;
  color: white;
  background-color: $main-color;
  margin-left: 1px;
  padding-left: $padding_normal;
}
.menu_item:visited{
  color:white;
}

.menu_item:hover{
  opacity: 0.6;
}

.here{
  background-color: $main_color;
}

h2{
  margin: 0;
  font-size: 2em;
  border-left: $padding_thin solid $main_color;
  border-bottom: 1px solid $main_color;
  padding-top: $padding_thin;
  padding-left: $padding_normal;
  padding-bottom: $padding_thin;
  color: $main-color;
}

h3{
  padding-left: $padding_thin;
  color: $main-color;
  font-size: 20px;
}

section{
  padding-left: $padding_normal;
}

p{
  margin: 0;
  padding: $padding_normal;
  white-space: pre-wrap;
}

.text{
  padding: $padding_thin;
}

.illust_thumbnail{
  width: 380px;
  border:1px solid transparent;
}

.illust_thumbnail:hover{
  filter: brightness(110%) blur(1px);
  border:1px solid $accent-color;
}

.big_illust{
  width: 90%;
}

dl{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

dt{
  padding: $padding_thin;
  font-weight: normal;
  width: 25%;
  text-align: center;
}
dd{
  padding: $padding_thin;
  width: 70%;
}

#top_image_gallery{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.em_link{
  font-size: 1.5em;
}
.em_link:hover{
  opacity: 0.5;
}


.screenshots{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: $padding_normal;
  .screenshot{
    padding: $padding_thin;
    width: 200px;
    &:hover{
      filter: brightness(110%);
    }
    img{
      width: 100%;
    }
  }
}

.play{
  font-size: 18px;
  text-decoration: underline;
}