
$main-color: #4b4f61;
$sub-color: #9dbcf7;
$accent-color: #50fff6;
$link-color: #5e3aff;
$link-color-visited: #8229b6;

$content-min-width: 600px;
$content-max-width: 1200px;
$infinity: 100000px;

.main{
  min-width: $content-min-width;
  max-width: $content-max-width;
  width: 100%;
  margin: 0px auto;
  border-left: 1px dashed $main-color;
  border-right: 1px dashed $main-color;
}

/* top */
body{
  color: $main_color;
  font-size: 16px;
}
li{
  list-style: none;
}

#top_banner{
  min-width: $content-min-width;
  max-width: $infinity;
  width: 100%;
  height: 192px;
  font-size: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background: linear-gradient(to bottom, white 80%, #d3e2ed);
  .right_siroko, .left_siroko{
    max-width: 192px;
    min-width: 0;
    width: 20%;
    height: auto;
  }
  .top_banner_text{
    max-width: 600px;
    min-width: 0;
    width: 60%;
    height: auto;
  }
}

#atmark{
  width: 1em;
}

#nav_menu{
  min-width: $content-min-width;
  max-width: $infinity;
  width: 100%;
  height: 34px;
  display: flex;
}

a{
  color: $link-color;
}

a:hover{
  text-decoration: underline;
}

a:visited{
  color: $link-color-visited;
}


.menu_item{
  display: block;
  width: 100%;
  height: 32px;
  font-size: 20px;
  color: white;
  background-color: $main-color;
  margin-left: 1px;
  padding-left: 10px;
}
.menu_item:visited{
  color:white;
}

.menu_item:hover{
  opacity: 0.6;
}

.here{
  background-color: $main_color;
}

h1{
  font-size: 30px;
  border-left: 0.7em solid $main_color;
  padding-left: 0.3em;
  margin-bottom: 10px;
  color: $main-color;
}

h2{
  padding-left: 0.3em;
  color: $main-color;
  font-size: 20px;
}

section{
  padding-left: 20px;
}

.topics{
  padding-bottom: 20px;
  .index{
    font-size: 20px;
    color: $main-color;
    font-style: italic;
  }
  .content{
    padding-left: 20px;
    font-size: 16px;
  }
}

p{
  margin-bottom: 20px;
  width: 95%;
}
.illust_thumbnail{
  width: 380px;
  border:1px solid transparent;
}

.illust_thumbnail:hover{
  filter: brightness(110%) blur(1px);
  border:1px solid $accent-color;
}

.big_illust{
  width: 90%;
}

.flex_dl{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.flex_item{
  width: 100%;
  margin : 5px;
}

.flex_dt{
  display: inline-block;
  width: 25%;
}
.flex_dd{
  display: inline-block;
  width: 70%;
}

#top_image_gallery{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.em_link{
  font-size: 1.5em;
}

.em_link:hover{
  opacity: 0.5;
}

.bigger{
  font-size: 25px;
}

.title_area{
  display: flex;
  flex-direction: row;
  width: 100%;
  .title_text:before{
    content: "◆";
    color: #3b3947;
  }
  .title_text{
    flex-grow: 1;
    font-size: 24px;
  }
  .title_image{
    width: 200px;
    border: 1px solid #3b3947;
  }
  .title_image:hover{
    filter: brightness(110%);
  }
}


.screenshot{
  width: 140px;
}
.screenshot:hover{
  filter: brightness(110%);
}

.screenshot_box{
  margin-left: 30px;
}

section{
  border-bottom: 1px dashed #3b3947;
  padding-bottom: 20px;
}

.play{
  font-size: 18px;
  text-decoration: underline;
}