.title_image{
    width: 640px;
    border: 1px solid #3b3947;
}
.title_image:hover{
    filter: brightness(110%);
}

.screenshot{
    width: 180px;
}
.screenshot:hover{
    filter: brightness(110%);
}

.screenshot_box{
    margin-left: 30px;
}
