<header>
    <div id="top_banner">
        <a href="top.html"><img id="top_banner" src="images/top_banner.png"></a>
    </div>
    <div id="nav_menu">
        <a href="top.html" class="menu_item here">Top</a>
        <a href="top.html#sec_about" class="menu_item">About</a>
        <a href="top.html#sec_text" class="menu_item">Text</a>
        <a href="illusts.html" class="menu_item">Illust</a>
        <a href="works.html" class="menu_item">Works</a>
        <a href="contact.html" class="menu_item">Contact</a>
    </div>
</header>
